@import "tailwindcss";

body {
  color: white;
  background-color: black;
}

.main {
  background-image: url("/Images/Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}